* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-grey: rgb(200, 200, 200);
    --dark-grey: rgb(100, 100, 100);
    --primary-light: rgba(255, 100, 34, 0.4);
    --primary: rgb(255, 100, 34);
    --primary-alt: rgb(255, 60, 34);
    --blue: rgb(34, 229, 255);
    --dark-green: rgb(0, 165, 36);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}