* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(255, 100, 34);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.link {
    color: black;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    height: 8rem;

    padding: 0rem 2rem;
    z-index: 10;
    transition: height 0.3s ease;
}

#nav-title {
    margin: 1rem;
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: bold;
    transition: font-size 0.3s ease;
}

#nav-right {
    display: flex;
}

.nav-page {
    margin: 1rem 0.5rem;
    padding: 0.5rem;

    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom-color 0.3s ease;
}

.nav-page:hover {
    border-bottom-color: var(--primary);
}

#mobile-nav-right {
    display: none;
}

#burger-menu {
    margin: 1rem;
    transition: fill 0.3s ease;
}

#burger-menu:hover {
    fill: var(--primary);
}

#mobile-nav-menu {
    z-index: 100;
    position: fixed;
    right: -12rem;
    width: 12rem;
    top: 0;
    height: 100vh;
    background-color: white;
    border-left: 3px solid var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;

    transition: right 0.5s ease;
}

.mobile-nav-page {
    margin: 1rem 0rem;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    #mobile-nav-right {
        display: initial;
    }

    #nav-right {
        display: none;
    }
}

/* END OF GLOBAL NAV */

#nav-hidden-menu {
    position: relative;
    width: 4rem;
    margin: 1rem 0.5rem;

    font-size: 1.2rem;
    cursor: pointer;
    overflow: hidden;
}

#nav-revealed-menu {
    position: absolute;
    color: var(--primary);
    left: 100%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: left 0.3s ease, border-bottom-color 0.3s ease;
}

#nav-revealed-menu:hover {
    border-bottom-color: var(--primary);
}

/* END OF NAV */

.jumbotron {
    height: 100vh;
    /* adjust as needed */
    width: 100%;
    /* or a fixed width in pixels */
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.subheading {
    color: white
}


@media screen and (max-width: 767px) {
    .jumbotron {
        background-size: cover;
    }
}


.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.font {
    font-family: Arial;
    color: black;

}

.button {
    background-color: #FF6422;
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.centerButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.location {
    height: 50%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-size: 1.2rem;

    background-color: var(--primary);
}

#location-vector {
    background-image: url("https://res.cloudinary.com/djukm4fut/image/upload/v1674237427/map_xltyej.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50vh;
}

#location-explanation {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location-button {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    width: 6rem;
    font-size: 1rem;
}

#location-title {
    margin-bottom: 2rem;
}

/* PAGE FOOTER */

footer {
    border-top: 3px solid var(--primary);
    color: black;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.footer-section {
    height: 10rem;
    padding: 2rem;
}