body {
    font-family: monospace, helvetica, trebuchet, serif;
    font-size: 30px;
    background-color:rgb(52, 54, 59);
    border: 2px solid red;
      }

head {color: whitesmoke;}

nav {color: rgb(86, 15, 15);}

input {color: black; background-color: #363636;}

