/* The top element needs to have a marging of 8rem */
/* This is so it can be seen below the nav */
h2 {
  margin-top: 8rem;
  font-size: large;
  letter-spacing: 0;
  color: black;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  display: block;
  text-align: center;
}

body {
  margin-top: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--primary);
  overflow-y: hidden;
  overflow-x: hidden;
}

.login-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #333;
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 5%;
  padding-bottom: 10%;
  background: white;
  overflow: hidden;
}

.field-wraps {
  inline-size: 150px;
  overflow-wrap: break-word;
}

.login-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(255, 100, 34);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 54px;
}

#login-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-top: 5rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 5px;
  border: 3px solid rgba(255, 255, 255, 0);

  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: var(--primary-alt);
}

.form-fields>input {
  border-radius: 5px;
}

#password-field {
  background-color: #FFCC33;
  border: 0;
  padding: 10px;
  width: 30%;
  font-size: medium;
}

#username-field {
  background-color: #FFCC33;
  border: 0;
  padding: 10px;
  width: 30%;
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  margin: 0px;
  border: none;
  font-weight: 600;
  background: transparent;
}

input {
  font-size: small;
  outline: none;
}

button:hover {
  cursor: pointer;
}


/* login */
.limiter {
  width: 100%;
  margin: 0 auto;
}


/* Form */

.login-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;

  box-shadow: 0 5px 30px 0px,
    rgb(222, 94, 3),
    rgb(124, 222, 3),
    rgb(3, 216, 222),
    rgb(225, 235, 31);
}