:root {
    --price-margin-right: 0rem;
    --display-counters: "initial";
    --edit-icon-width: 0rem;
}

main {
    margin-top: 16rem;
    margin-bottom: 12rem;
    transition: margin-top 0.5s ease;
}

.menu-item {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    transition: background-color 0.3s ease;
}

.menu-image {
    min-width: 10rem;
    height: 11rem;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.image-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-upload-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.image:hover .image-upload-overlay {
    background-color: rgba(255, 255, 255, 0.1);
}

.image-upload-overlay>svg {
    fill: white;
}

.menu-text {
    flex-grow: 1;
}

.food-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

section {
    margin: 4rem 4rem 1rem 4rem;
}

.menu-name {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

.menu-price {
    margin-right: var(--price-margin-right);
    transition: margin 0.5s ease;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
}

.menu-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.menu-description {
    padding: 1rem 0rem;
    font-size: 0.9rem;
    min-height: 6rem;
}

.menu-extras {
    margin-top: 0.4rem;
    height: 1.6rem;
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-calories {
    margin-left: 2rem;
}

.menu-veg {
    color: var(--dark-green);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin: 0rem 0.5rem;

    position: relative;

    transition: opacity 0.5s ease, width 0.5s ease, padding 0.5s ease, background-color 0.5s ease;
}

.section-title {
    display: flex;
    margin: 1rem;
    padding: 1rem 0rem;
    font-size: 1.8rem;
    border-bottom: 3px solid black;
}

#quick-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    color: white;

    padding: 0.5rem 10vw;
    transition: opacity 0.3s ease;
}

.quick-select {
    border-radius: 5px;
    padding: 0.5rem;
    width: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quick-select:hover {
    background-color: white;
    color: black;
}

#filters {
    padding: 5px;
    border-radius: 5px;
    width: 8rem;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#filter-icon {
    fill: white;
    width: 1.6rem;
    height: 1.6rem;
    transition: fill 0.3s ease;
}

#filters:hover {
    background-color: white;
    color: black;
}

#filters:hover #filter-icon {
    fill: black;
}

#filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 10vw;
    position: absolute;
    height: 4rem;
    left: 0;

    border-bottom: 3px solid var(--primary);
    background-color: white;
    transition: top 0.3s ease;
}

.relative-container {
    position: relative;
    width: 100%;
    height: 4rem;
    overflow: hidden;
}

.filter-option {
    display: flex;
    border-radius: 15px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-option:hover {
    background-color: var(--light-grey);
}

.filter-select {
    margin-right: 1rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid black;

    transition: background-color 0.3s ease;
}

[data-showing="true"] {
    top: 0rem;
}

[data-showing="false"] {
    top: -4rem;
}

[data-selected="true"] {
    background-color: black;
}

#call-staff {
    position: fixed;

    bottom: 3rem;
    right: calc(10vw + 10rem + 2rem);

    border-radius: 5px;
    border: none;

    font-size: 1.2rem;
    padding: 0.5rem;

    height: 4rem;
    width: 10rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: var(--primary);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#call-staff:hover {
    transform: scale(105%);
}



.popup {
    width: 600px;


    background-color: white;
    border-radius: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: var(--primary);
    position: absolute;


    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 30px 30px;

    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    position: fixed;
    top: 30%;
    transform: translate(-50%, 50%) scale(1);
}




#start-order {
    position: fixed;

    bottom: 3rem;
    right: 10vw;

    border-radius: 5px;
    border: none;

    font-size: 1.2rem;
    padding: 0.5rem;

    height: 4rem;
    width: 10rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: var(--primary);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#start-order:hover {
    transform: scale(105%);
}

#cancel-order {
    position: fixed;

    bottom: 3rem;
    right: 10vw;

    border-radius: 5px;
    border: 3px solid var(--primary);

    font-size: 1.2rem;
    padding: 0.5rem;

    height: 4rem;
    width: 10rem;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: white;
    transition: opacity 0.3s ease;
}

.order-counter-container {
    width: 0rem;
    overflow: hidden;
    transition: width 0.5s ease;
}

.order-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    height: 2rem;

    width: 5rem;
}

.order-quantity {
    font-size: 1.4rem;
    width: 2rem;
    display: flex;
    justify-content: center;
}

.order-icon {
    display: var(--display-counters);
    width: 2rem;
    cursor: pointer;
    transition: fill 0.3s ease;
}

.order-icon:hover {
    fill: var(--primary);
}



#edit-menu {
    position: fixed;
    bottom: 3rem;
    right: calc(10vw + 20rem + 4rem);
    width: 10rem;
    height: 4rem;
    background-color: white;
    border-radius: 5px;
    color: var(--primary-alt);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;

    border: 3px solid var(--primary-alt);
    transition: transform 0.3s ease;
}

#edit-menu:hover {
    transform: scale(105%);
}

#stop-edit-menu {
    position: fixed;
    bottom: 3rem;
    right: calc(10vw + 20rem + 4rem);
    width: 10rem;
    height: 4rem;
    background-color: white;
    border-radius: 5px;
    color: var(--primary-alt);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;

    border: 3px solid var(--primary-alt);
    transition: transform 0.3s ease;
}

#stop-edit-menu>svg {
    margin-right: 1rem;
}

#stop-edit-menu:hover {
    transform: scale(105%);
}

[contenteditable] {
    transition: margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease;
}

[data-editing="true"] {
    background-color: rgba(255, 60, 34, 0.1);
}

br {
    display: none;
}

.menu-name[contenteditable]:focus,
.menu-price[contenteditable]:focus {
    outline: 0px solid transparent;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.menu-cal[contenteditable]:focus,
.menu-alg[contenteditable]:focus {
    outline: 0px solid transparent;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.menu-description[contenteditable]:focus {
    outline: 0px solid transparent;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 1rem 5px;
}

.edit-item {
    display: flex;
}

.edit-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--primary-alt);
    cursor: pointer;
}

#edit-menu>svg {
    margin-right: 1rem;
}

.start-editing-item {
    width: var(--edit-icon-width);

    transition: width 0.5s ease;
}

.save-item {
    width: 0;
    transition: width 0.5s ease;
}

.more-items {
    width: 0;
    transition: transform 0.3s ease, width 0.5s ease;
}

[data-veg="false"] {
    color: rgb(100, 100, 100);
    opacity: 0;
    width: 0;
}

.toggle-veg[data-veg="false"] {
    opacity: 0.5;
    width: 4rem;
}

.empty-alg {
    min-width: 4rem;
    max-width: 18rem;
}

.toggle-veg {
    cursor: pointer;
}

.toggle-veg:hover {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.temporary-item {
    position: relative;
    animation: open 0.5s ease normal forwards;
}

.create-item-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5px;

    cursor: pointer;

    transition: opacity 0.5s ease, background-color 0.5s ease;
}

.create-item-button>div {
    transition: color 0.3s ease;
}

.create-item-button:hover,
.create-item-button:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-alt);
    fill: var(--primary-alt);
}

.button {
    background-color: var(--primary);
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}


.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;

}

@keyframes open {
    0% {
        height: 0rem;
        padding: 0rem 1rem;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        height: 14rem;
        padding: 1rem 1rem;
        opacity: 1;
    }
}

#context-menu {
    position: absolute;
    left: 50%;
    top: 10rem;
    border-radius: 15px;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);

    transition: top 0.4s ease, opacity 0.5s ease, left 0.5s ease;
}

.context-option {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    width: 8rem;
    color: var(--primary-alt);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.context-option:hover {
    background-color: var(--primary-alt);
    color: white;
}

.context-option:hover>svg {
    fill: white;
}

#ctx-reset {
    margin-bottom: 1rem;
}

.context-option>svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--primary-alt);
    transition: fill 0.3s ease;
}

.more-items:hover {
    transform: rotate(90deg);
}

.more-items-focused {
    transform: rotate(90deg);
}

#fixed-finish {
    position: fixed;
    bottom: 10rem;
    right: 10vw;
    width: 22rem;
    height: 0rem;

    overflow: hidden;
    transition: height 0.5s ease;
}

#finish-edit {
    height: 12rem;
    width: 22rem;
    background-color: white;
    border: 3px solid var(--primary);
    padding: 1rem;
    border-radius: 5px;
    color: var(--primary-alt);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.5s ease;
}

#finish-title {
    display: flex;
    justify-content: center;
}

#finish-edit-buttons {
    display: flex;
    flex-direction: column;
}

.finish-button {
    border: none;
    padding: 5px;
    margin: 5px 15px;
    cursor: pointer;
    height: 2rem;
    border-radius: 15px;
}

.finish-button:hover {
    background-color: var(--primary-alt);
    color: white;
}

@media screen and (max-width: 400px) {
    .menu-name {
        font-size: 1rem;
    }

    .menu-item {
        padding: 0.5rem;
    }

    .menu-image {
        min-width: 4rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menu-description {
        padding: 0.5rem 0rem;
    }

    .image {
        height: 4rem;
    }

    .menu-title {
        flex-direction: column;
        align-items: flex-start;
    }

    #filters>span {
        display: none;
    }

    #filters {
        width: 4rem;
    }

    #quick-select-container {
        padding: 0.5rem;
    }

    .quick-select {
        font-size: 0.8rem;
    }

    .filter-option {
        font-size: 0.8rem
    }

    #filter-container {
        padding: 0.5rem;
    }

    #basket-left,
    #basket-right {
        height: 1.2rem;
    }

    #start-order,
    #cancel-order,
    #call-staff,
    #edit-menu,
    #stop-edit-menu {
        width: 5rem;
        height: 3rem;
        font-size: 1rem;
        padding: 0.25rem;
    }

    #call-staff {
        right: calc(10vw + 5rem + 1rem);
    }

    #edit-menu,
    #stop-edit-menu {
        right: calc(10vw + 10rem + 2rem);
    }
}

@media screen and (max-width: 850px) {
    #quick-select-container {
        padding: 0.5rem;
    }

    .quick-select {
        width: 6rem;
        margin: 5px;
    }

    .food-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    #filter-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 50%);
        height: 6rem;
    }

    [data-showing="false"] {
        top: -6rem;
    }

    .relative-container {
        height: 6rem;
    }
}

@media screen and (max-width: 1100px) {
    section {
        margin: 4rem 2vw 1rem 2vw;
    }
}