:root {
    --price-margin-right: 0rem;
}

main {
    margin-top: 16rem;
    margin-bottom: 12rem;
}

.menu-item {
    padding: 1rem;
    transition: opacity 0.3s ease;
}

.food-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

section {
    margin: 4rem 10vw 1rem 10vw;
}

.menu-name {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

.menu-price {
    margin-right: var(--price-margin-right);
    transition: margin 0.5s ease;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
    padding: 1rem 0rem;
}

.menu-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-description {
    padding: 1rem 0rem;
    font-size: 0.9rem;
    min-height: 6rem;
}

.menu-extras {
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: flex-end;
}

.menu-extras>div {
    margin-left: 2rem;
}

.menu-veg {
    color: var(--dark-green);
    font-weight: bold;
}

.section-title {
    display: flex;
    margin: 1rem;
    padding: 1rem 0rem;
    font-size: 1.8rem;
    border-bottom: 3px solid black;
}

#quick-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    color: white;

    padding: 0.5rem 10vw;
}

.quick-select {
    border-radius: 5px;
    padding: 0.5rem;
    width: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quick-select:hover {
    background-color: white;
    color: black;
}

#filters {
    padding: 0.5rem;
    border-radius: 5px;
    width: 8rem;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#filters:hover {
    background-color: white;
    color: black;
}

#filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 10vw;
    position: absolute;
    top: -100%;
    height: 4rem;
    left: 0;

    border-bottom: 3px solid var(--primary);
    background-color: white;
    transition: top 0.3s ease;
}

.relative-container {
    position: relative;
    width: 100%;
    height: 4rem;
    overflow: hidden;
}

.filter-option {
    display: flex;
    border-radius: 15px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-option:hover {
    background-color: var(--light-grey);
}

.filter-select {
    margin-right: 1rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid black;

    transition: background-color 0.3s ease;
}

[data-selected="true"] {
    background-color: black;
}

#start-order {
    position: fixed;

    bottom: 3rem;
    right: 10vw;

    border-radius: 5px;
    border: none;

    font-size: 1.2rem;
    padding: 0.5rem;

    height: 4rem;
    width: 10rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: var(--primary);
    transition: opacity 0.3s ease;
}

#cancel-order {
    position: fixed;

    bottom: 3rem;
    right: 10vw;

    border-radius: 5px;
    border: 3px solid var(--primary);

    font-size: 1.2rem;
    padding: 0.5rem;

    height: 4rem;
    width: 10rem;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: white;
}

.order-counter-container {
    width: 0rem;
    overflow: hidden;
    transition: width 0.5s ease;
}

.order-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    height: 2rem;

    width: 5rem;
}

.order-quantity {
    font-size: 1.4rem;
    padding: 0rem 0.5rem;
}

.order-icon {
    width: 2rem;
    cursor: pointer;
    transition: fill 0.3s ease;
}

.order-icon:hover {
    fill: var(--primary);
}

@media screen and (max-width: 750px) {
    .food-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    section {
        margin: 4rem 5vw 1rem 5vw;
    }
}