<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | Oaxaca</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="refresh" content="20" />
        <meta name="description" content="restaurant login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="public/styles/nav.css" />
        <link rel="stylesheet" type="text/css" href="public/styles/global.css" />
        <link rel="stylesheet" type="text/css" href="public/styles/login.css" />
        <script defer src="public/scripts/login.js"></script>
    </head>

    <body>
        <div class="login-form">
            <h4>
                <label for="login-header">Login</label>
            </h4>
            <form method="post" action="">
                <div class="username-field">
                    <input
                        type="text"
                        id="username"
                        name="username"
                        required
                        placeholder="Username"
                        aria-label="username"
                        aria-describedby="input-username"
                        focus
                        data-val="true"
                        data-val-required="The Username field is required."
                        value=""
                    />
                </div>
                <br />
                <div class="password-field">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                        placeholder="Password"
                        aria-label="password"
                        aria-describedby="input-password"
                        focus
                        data-val="true"
                        data-val-required="The Password field is required."
                        value=""
                    />
                </div>
                <br />
                <input id="login-button" type="submit" value="Login" />
            </form>
        </div>
        <br />
        <div>
            <button>Forgot your password?</button>
        </div>
    </body>
</html>
