<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Oaxaca</title>
        <link rel="stylesheet" href="{{url_for('send_css', path='global.css')}}" />
        <link rel="stylesheet" href="{{url_for('send_css', path='nav.css')}}" />
        <link rel="stylesheet" href="{{url_for('send_css', path='menu.css')}}" />
    </head>
    <body>
        <nav>
            <div class="nav-display">
                <div id="nav-left">
                    <a href="/" id="nav-title" class="link">Oaxaca</a>
                </div>
                <div id="nav-right">
                    <a href="/about" class="nav-page link">About Us</a>
                    <a href="/order" class="nav-page link">Order</a>
                    <a href="/login" class="nav-page link">Login</a>
                </div>
                <div id="mobile-nav-right">
                    <svg
                        id="burger-menu"
                        onclick="toggleMobileNav()"
                        xmlns="http://www.w3.org/2000/svg"
                        height="48"
                        width="48"
                        viewBox="0 0 48 48"
                    >
                        <path
                            d="M7.5 36q-.65 0-1.075-.425Q6 35.15 6 34.5q0-.65.425-1.075Q6.85 33 7.5 33h33q.65 0 1.075.425Q42 33.85 42 34.5q0 .65-.425 1.075Q41.15 36 40.5 36Zm0-10.5q-.65 0-1.075-.425Q6 24.65 6 24q0-.65.425-1.075Q6.85 22.5 7.5 22.5h33q.65 0 1.075.425Q42 23.35 42 24q0 .65-.425 1.075-.425.425-1.075.425Zm0-10.5q-.65 0-1.075-.425Q6 14.15 6 13.5q0-.65.425-1.075Q6.85 12 7.5 12h33q.65 0 1.075.425Q42 12.85 42 13.5q0 .65-.425 1.075Q41.15 15 40.5 15Z"
                        />
                    </svg>
                    <div id="mobile-nav-menu" data-open="false">
                        <svg
                            onclick="toggleMobileNav()"
                            class="mobile-nav-page"
                            xmlns="http://www.w3.org/2000/svg"
                            height="48"
                            width="48"
                            viewBox="0 0 48 48"
                        >
                            <path
                                d="M24 26.1 13.5 36.6q-.45.45-1.05.45-.6 0-1.05-.45-.45-.45-.45-1.05 0-.6.45-1.05L21.9 24 11.4 13.5q-.45-.45-.45-1.05 0-.6.45-1.05.45-.45 1.05-.45.6 0 1.05.45L24 21.9l10.5-10.5q.45-.45 1.05-.45.6 0 1.05.45.45.45.45 1.05 0 .6-.45 1.05L26.1 24l10.5 10.5q.45.45.45 1.05 0 .6-.45 1.05-.45.45-1.05.45-.6 0-1.05-.45Z"
                            />
                        </svg>

                        <a href="/about" class="mobile-nav-page link">About Us</a>
                        <a href="/order" class="mobile-nav-page link">Order</a>
                        <a href="/login" class="mobile-nav-page link">Login</a>
                    </div>
                </div>
            </div>
            <div id="quick-select-container">
                <div class="quick-select">Starters</div>
                <div class="quick-select">Mains</div>
                <div class="quick-select">Desserts</div>
                <div class="quick-select">Drinks</div>
                <div id="filters">Filters</div>
            </div>
            <script src="{{url_for('send_js', path='nav.js')}}"></script>
        </nav>

        <main>
            <section id="starters">
                <h2 class="section-title">Starters</h2>
                <div class="food-section">
                    {% for item in menu_items %} {% if item.type == "Starters"%}
                    <div class="menu-item">
                        <div class="menu-title-container">
                            <div class="menu-title">
                                <div class="menu-name">{{ item.name.lower() }}</div>
                                <div class="menu-price">£{{ item.price }}</div>
                            </div>
                            <div class="order-counter-container">
                                <div class="order-counter">
                                    <svg
                                        class="order-decrease order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M14 25.35h20v-3H14ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"
                                        />
                                    </svg>
                                    <div class="order-quantity">0</div>
                                    <svg
                                        class="order-increase order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M22.65 34h3v-8.3H34v-3h-8.35V14h-3v8.7H14v3h8.65ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">{{ item.description }}</div>
                        <div class="menu-extras">
                            {% if item.allergies != "None" %}
                            <div class="menu-alg">{{ item.allergies }}</div>
                            {% endif %} {% if item.vegetarian == True %}
                            <div class="menu-veg">Veg</div>
                            {% endif %}
                            <div class="menu-cal">{{ item.calories }}kcal</div>
                        </div>
                    </div>
                    {% endif%} {% endfor %}
                </div>
            </section>

            <section id="mains">
                <h2 class="section-title">Mains</h2>
                <div class="food-section">
                    {% for item in menu_items %} {% if item.type == "Mains"%}
                    <div class="menu-item">
                        <div class="menu-title-container">
                            <div class="menu-title">
                                <div class="menu-name">{{ item.name.lower() }}</div>
                                <div class="menu-price">£{{ item.price }}</div>
                            </div>
                            <div class="order-counter-container">
                                <div class="order-counter">
                                    <svg
                                        class="order-decrease order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M14 25.35h20v-3H14ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"
                                        />
                                    </svg>
                                    <div class="order-quantity">0</div>
                                    <svg
                                        class="order-increase order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M22.65 34h3v-8.3H34v-3h-8.35V14h-3v8.7H14v3h8.65ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="menu-description">{{ item.description }}</div>
                        <div class="menu-extras">
                            {% if item.allergies != "None" %}
                            <div class="menu-alg">{{ item.allergies }}</div>
                            {% endif %} {% if item.vegetarian == True %}
                            <div class="menu-veg">Veg</div>
                            {% endif %}
                            <div class="menu-cal">{{ item.calories }}kcal</div>
                        </div>
                    </div>
                    {% endif%} {% endfor %}
                </div>
            </section>

            <section id="desserts">
                <h2 class="section-title">Desserts</h2>
                <div class="food-section">
                    {% for item in menu_items %} {% if item.type == "Desserts"%}
                    <div class="menu-item">
                        <div class="menu-title-container">
                            <div class="menu-title">
                                <div class="menu-name">{{ item.name.lower() }}</div>
                                <div class="menu-price">£{{ item.price }}</div>
                            </div>
                            <div class="order-counter-container">
                                <div class="order-counter">
                                    <svg
                                        class="order-decrease order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M14 25.35h20v-3H14ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"
                                        />
                                    </svg>
                                    <div class="order-quantity">0</div>
                                    <svg
                                        class="order-increase order-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="48"
                                        width="48"
                                        viewBox="0 0 48 48"
                                    >
                                        <path
                                            d="M22.65 34h3v-8.3H34v-3h-8.35V14h-3v8.7H14v3h8.65ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">{{ item.description }}</div>
                        <div class="menu-extras">
                            {% if item.allergies != "None" %}
                            <div class="menu-alg">{{ item.allergies }}</div>
                            {% endif %} {% if item.vegetarian == True %}
                            <div class="menu-veg">Veg</div>
                            {% endif %}
                            <div class="menu-cal">{{ item.calories }}kcal</div>
                        </div>
                    </div>
                    {% endif%} {% endfor %}
                </div>
            </section>
        </main>
        <div id="cancel-order" onclick="cancelOrder()">Cancel</div>
        <div id="start-order" onclick="startOrder()">Start your order</div>
    </body>
    <script src="{{url_for('send_js', path='menu.js')}}"></script>
</html>
